@media screen and (max-width:1200px) {
    .mac-container{
        padding: 0 5%;
    }
    .contentSection2{
        margin-bottom: 150px;
    }
    .lastContentChild{
        margin-bottom: 110px;
    }
    .gallerySectionContainer{
        margin-bottom: 110px;
    }
    .formContainer{
        margin-bottom: 110px;
    }
}
@media screen and (max-width:950px) {
    .serviceBoxContainer>a{
        width: 48%;
        padding: 15px 25px;
        margin: 0 auto;
        margin-bottom: 3%;
    }
@media screen and (max-width: 950px) {
    .contentSection2{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-left: 0px;
    }
    .contentSection3{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .contentSection2textSection{
        width: 100%;
        align-items: flex-start;
        text-align: left;
        align-self: flex-start;
    }
    .contentSection3textSection{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: left;
        align-self: flex-start;
    }
    .detailBox1{
        align-self: flex-start;
    }
    .detailBox2{
        align-self: flex-start;
    }
    .contentSection2icon{
        width: 38%;
    }
    .contentSection3icon{
        width: 38%;
    }
    .contentSection2{
        margin-bottom: 100px;
    }
    .contentSection3{
        margin-bottom: 130px;
    }
    
}
}
@media screen and (max-width:872px) {
    .Menu{
        width: 555.50px;
    }
    .menuBoxes:last-child{
        padding-right: 15px;
    }
    
}
@media screen and (max-width: 800px) {
    .galleryContentSection{
        display: none;
    }
    .mobilGalleryContentSection{
        display: flex;
    }
}
@media screen and (max-width: 725px) {
    .formFooter{
        flex-direction: column;
        align-items: center;
        gap: 100px;
        padding: 0;
    }
    .sendButton{
        align-self: flex-start;
    }
    .formBox{
        width: 75%;
    }
    .formBox:first-child{
        width: 75%;
    }
    .formİmage{
        width: 38%;
    }
    .contentSection1{
        margin-bottom: 120px;
    }
    
    
    
}
@media screen and (max-width:650px) {
    .serviceTitleBox{
        width: 100%;
        margin: 0 auto 30px auto;
        word-break: break-word;
    }

    .serviceBoxContainer>a{
        width: 100%;
        height: 200px;
        margin-bottom: 5%;
    }
    .serviceBoxes{
        display: flex;
        align-items: center;
    }
    .serviceBoxContainer>a:last-child{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:619px) {
    .menuBoxes{
        margin-bottom: 15px;
    }
    .menuBoxes:nth-child(5){
        border-right: none;
    }
    .contentSection1{
        padding-bottom: 0px;
    }
    .contentSection1TextContainerTop{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    .contentSection1TextContainerBottom{
        font-size: 3rem;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:557px) {

    .footerContainer{
        margin-bottom: 50px;
    }
    .footerLogoSection{
        padding-left: 0px;
        text-align: center;
    }
    .footerLowerSection{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .footerLowerLogos{
        flex-direction: column;
        align-self: center;
        width: 45%;
        gap: 15px;
    }
    .footerLowerLogoLink2
    {
        width: 110%;
    }
    .footerLocationSection{
        margin-left: 1%;
        margin-bottom: 75px;
    }
    .footerLocationİcon{
        display:none;
    }
    
}
@media screen and (max-width:526px) {
    .menuBoxes:nth-child(4){
        border-right: none;
    }
    .menuBoxes:nth-child(5){
        border-right: 1px solid white;
    }
    

}
@media screen and (max-width:418px) {
    .Menu{
        justify-content: center;
        /* BURADA ------------------------------------------------------------*/
    }
    .navbar{
        justify-content: center;
        /* BURADA ------------------------------------------------------------*/
    }
    .menuBoxes:nth-child(5){
        border-right: none;
    }
    .menuBoxes:nth-child(4){
        border-right: 1px solid white;
    }
    .menuBoxes:nth-child(1){
        order:  1;
    }
    .menuBoxes:nth-child(2){
        order:  2;
    }
    .menuBoxes:nth-child(3){
        order:  3;
    }
    .menuBoxes:nth-child(4){
        order:  5;
    }
    .menuBoxes:nth-child(5){
        order:  4;
    }
    .menuBoxes:nth-child(6){
        order:  6;
    }
    .contentSection2textBox1{
        font-size: 2.5rem;
    }
    .contentSection3textBox1{
        font-size: 2.5rem;
    }
    .contentSection1TextContainerTop{
        font-size: 1.6rem;
    }
    .contentSection1TextContainerBottom{
        font-size: 2.4rem;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 476px) {
    .contentSection2textBox3{
        line-height: 45px;
    }
}
@media screen and (max-width: 400px) {
    .footerMacLogo{
        width: 84%;
    }
}
@media screen and (max-width: 351px) {
    .menuBoxes:nth-child(3){
        border-right: none;
    }
    .menuBoxes:nth-child(4){
        border-right: none;
    }
    .menuBoxes:nth-child(5){
        border-right: 1px solid white;
    }
    .menuBoxes:nth-child(4){
        order:  6;
    }
    .menuBoxes:nth-child(6){
        order:  4;
    }
    .serviceBoxes{
        word-break: break-word;
    }
}
@media screen and (max-width: 300px) {
    *{
        hyphens: auto;
    }
    .contentSection1{
        word-break:break-word;
    }
    .contentSection2{
        word-break:break-word;
    }
    .contentSection3{
        word-break:break-word;
    }
    .servicesSelectSectionContainer{
        word-break:break-word;
    }
    .serviceBoxContainer>a{
        height: 1%;
    }
    .serviceTitle{
        word-break:break-word;
    }
    .serviceContent{
        word-break:break-word;
    }
    .galleryHeaderSection{
        word-break:break-word;
    }
    .formContentSection {
        word-break:break-word;
    }
    .footerLocationContent{
        word-break: break-word;
    }
}   
@media screen and (max-width: 244px) {
    .menuBoxes:nth-child(2){
        border-right: none;
    }
    .menuBoxes:nth-child(5){
        border-right: none;
    }
    .menuBoxes:nth-child(3){
        border-right: 1px solid white;
    }
    .menuBoxes:nth-child(4){
        order:  5;
    }
    .menuBoxes:nth-child(6){
        order:  6;
    }
}
@media screen and (max-width: 186px) {
    .menuBoxes:nth-child(3){
        border-right: none;
    }
    .menuBoxes:nth-child(6){
        border-right: 1px solid white;
    }
    .menuBoxes:nth-child(4){
        order:  3;
    }
    .menuBoxes:nth-child(6){
        order:  4;
    }
    .menuBoxes:nth-child(5){
        order:  6;
    }
    .menuBoxes:nth-child(3){
        order:  5;
    }
}